{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <title>Login</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600&family=Roboto&display=swap" rel="stylesheet">

        <!-- Toast -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon" style="background-color: black;">

 
</head>

<body>

   <!-- Spinner Start -->
   <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border" style="width: 3rem; height: 3rem; color: #0a583d;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<!-- Spinner End -->

<!-- Topbar Start -->
<div class="container-fluid px-5 d-none d-lg-block" style="background: linear-gradient(560deg, #022d1e, #013d28, #024c34);">
    <div class="row gx-0">
        <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
            <div class="d-inline-flex align-items-center" style="height: 45px;">
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-twitter fw-normal"></i></a>
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-linkedin-in fw-normal"></i></a>
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-instagram fw-normal"></i></a>
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle" href=""><i class="fab fa-youtube fw-normal"></i></a>
            </div>
        </div>
        <!-- <div class="col-lg-4 text-center text-lg-end">
            <div class="d-inline-flex align-items-center" style="height: 45px;">
                <a href="#"><small class="me-3 text-light"><i class="fa fa-user me-2"></i>Register</small></a>
                <a href="#"><small class="me-3 text-light"><i class="fa fa-sign-in-alt me-2"></i>Login</small></a>
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle text-light" data-bs-toggle="dropdown"><small><i class="fa fa-home me-2"></i> My Dashboard</small></a>
                    <div class="dropdown-menu rounded">
                        <a href="#" class="dropdown-item"><i class="fas fa-user-alt me-2"></i> My Profile</a>
                        <a href="#" class="dropdown-item"><i class="fas fa-comment-alt me-2"></i> Inbox</a>
                        <a href="#" class="dropdown-item"><i class="fas fa-bell me-2"></i> Notifications</a>
                        <a href="#" class="dropdown-item"><i class="fas fa-cog me-2"></i> Account Settings</a>
                        <a href="#" class="dropdown-item"><i class="fas fa-power-off me-2"></i> Log Out</a>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
<!-- Topbar End -->

<!-- Navbar & Hero Start -->
<div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0" style="background: linear-gradient(100deg, #022d1e, #013d28, #024c34);">
        <a href="{% url 'index' %}" class="navbar-brand p-0">
            <!-- <h1 class="m-0"><i class="fa fa-globe me-3"></i>Athidhi Holidays</h1> -->
            <img src="{% static 'img/logo6.png' %}" alt="Logo" >
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0" >
                <a href="{% url 'index' %}" class="nav-item nav-link" >Home</a>
                <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
                <a href="{% url 'services' %}" class="nav-item nav-link">Services</a>
                <a href="{% url 'destinations' %}" class="nav-item nav-link">Destinations</a>
                <a href="{% url 'packages' %}" class="nav-item nav-link">Packages</a>
                <a href="{% url 'blogs' %}" class="nav-item nav-link">Blog</a>
                <a href="{% url 'gallery' %}" class="nav-item nav-link">Gallery</a>
                <a href="{% url 'booking' %}" class="nav-item nav-link">Booking</a>
               
                <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
            </div>
          
        </div>
    </nav>
        </div>

        <!-- Header Start -->
        <div class="container-fluid bg-breadcrumb">
            <div class="container text-center py-5" style="max-width: 900px;">
                <h3 class="text-white display-3 mb-4">Access Your Account</h1>
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                    <!-- <li class="breadcrumb-item"><a href="#">Pages</a></li> -->
                    <li class="breadcrumb-item active " style="color: #b1a4a4;">Login</li>
                </ol>    
            </div>
        </div>
        <!-- Header End -->

        <div class="container-fluid login bg-light py-5">
          <div class="container py-5">
              <div class="mx-auto text-center mb-5" style="max-width: 600px;">
                  <h5 class="section-title px-3">Login</h5>
                  <h1 class="mb-0">Welcome Back</h1>
                  <p class="text-muted">Enter your credentials to access your account</p>
              </div>
              <div class="row justify-content-center">
                  <div class="col-lg-6 col-md-8">
                      <div class="bg-white rounded p-5 shadow-lg">
                          <div class="text-center mb-4">
                              <img src="{% static 'img/logo.png' %}" alt="User Avatar" style="width: 100px; height: 100px; background-color: black;" class="rounded-circle border shadow-sm mb-3">
                          
                          </div>
                          <form method="post">
                              {% csrf_token %}
                              <div class="mb-3">
                                  <label for="email" class="form-label">Email Address</label>
                                  <input type="text" name="username" class="form-control border-1 rounded-pill" id="email" placeholder="Enter your email" required>
                              </div>
                              <div class="mb-3">
                                  <label for="password" class="form-label">Password</label>
                                  <input type="password" name="password" class="form-control border-1 rounded-pill" id="password" placeholder="Enter your password" required>
                              </div>
                              <!-- <div class="d-flex justify-content-between align-items-center mb-3">
                                  <a href="" class="text-primary">Forgot Password?</a>
                              </div> -->
                              <div class="mb-3 text-center">
                                  <button type="submit" class="btn  w-100 py-2 rounded-pill" style="background: linear-gradient(100deg, #022d1e, #013d28, #024c34); color: #fff;">Login</button>
                              </div>
                              <div class="text-center">
                                  <!-- <p class="mb-0">Don't have an account? <a href="#" class="text-primary">Sign Up</a></p> -->
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      
      
      <div class="container-fluid footer py-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="footer-item d-flex flex-column">
                        <h4 class="mb-4 text-white">Athidhi Holidays</h4>
                        <p style="text-align: justify; color: #fff;">Experience the charm of nature with Athidhi Holidays, offering unforgettable stays, scenic views, and warm hospitality. Explore our premium services and plan your perfect getaway today.</p>
                       
                    </div>
                </div>
                
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="footer-item d-flex flex-column">
                        <h4 class="mb-4 text-white">Quick Links</h4>
                        <a href="{% url 'about' %}"><i class="fas fa-angle-right me-2"></i> About</a>
                        <a href="{% url 'services' %}"><i class="fas fa-angle-right me-2"></i> Services</a>
                        <a href="{% url 'blogs' %}"><i class="fas fa-angle-right me-2"></i> Blog</a>
                        <a href="{% url 'packages' %}"><i class="fas fa-angle-right me-2"></i> Packages</a>
                        <a href="{% url 'destinations' %}"><i class="fas fa-angle-right me-2"></i> Destinations</a>
                        <!-- <a href=""><i class="fas fa-angle-right me-2"></i> Magazine</a> -->
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="footer-item d-flex flex-column">
                        <h4 class="mb-4 text-white">Services</h4>
                        <a href="https://wa.me/+918086001040"><i class="fas fa-angle-right me-2"></i> Hotel Bookings</a>
                        <a href="https://wa.me/+918086001040"><i class="fas fa-angle-right me-2"></i> Flight Bookings</a>
                        <a href="https://wa.me/+918086001040"><i class="fas fa-angle-right me-2"></i> Holiday Packages</a>
                        <a href="https://wa.me/+918086001040"><i class="fas fa-angle-right me-2"></i> Cabs and Local Transfers</a>
                        <a href="https://wa.me/+918086001040"><i class="fas fa-angle-right me-2"></i> Train and Bus Rentals
s                            </a>
                        <!-- <a href=""><i class="fas fa-angle-right me-2"></i> Cookie policy</a> -->
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="footer-item d-flex flex-column">
                        <h4 class="mb-4 text-white">Get In Touch</h4>
                        <a href=""><i class="fas fa-map me-2"></i>Near Cochin Airport, Kariyad, Nedumbassery, Kerala - 683572</a>
                        <a href=""><i class="fas fa-envelope me-2"></i> info@example.com</a>
                        <a href=""><i class="fas fa-phone me-2"></i> +91 9995551209 </a>
                        <!-- <a href="" class="mb-3"><i class="fas fa-print me-2"></i> +012 345 67890</a> -->
                        <div class="d-flex align-items-center">
                            <i class="fas fa-share fa-2x text-white me-2"></i>
                            <a class="btn-square btn  rounded-circle mx-1" style="color: #fff;" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn-square btn  rounded-circle mx-1" style="color: #fff;" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn-square btn  rounded-circle mx-1" style="color: #fff;" href=""><i class="fab fa-instagram"></i></a>
                            <a class="btn-square btn  rounded-circle mx-1" style="color: #fff;" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="footer-item">
                        <div class="row gy-3 gx-2 mb-4">
                            <div class="col-xl-6">
                                <form>
                                    <div class="form-floating">
                                        <select class="form-select bg-dark border" id="select1">
                                            <option value="1">Arabic</option>
                                            <option value="2">German</option>
                                            <option value="3">Greek</option>
                                            <option value="3">New York</option>
                                        </select>
                                        <label for="select1">English</label>
                                    </div>
                                </form>
                            </div> -->
                            <!-- <div class="col-xl-6">
                                <form>
                                    <div class="form-floating">
                                        <select class="form-select bg-dark border" id="select1">
                                            <option value="1">USD</option>
                                            <option value="2">EUR</option>
                                            <option value="3">INR</option>
                                            <option value="3">GBP</option>
                                        </select>
                                        <label for="select1">$</label>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <h4 class="text-white mb-3">Payments</h4>
                        <div class="footer-bank-card">
                            <a href="#" class="text-white me-2"><i class="fab fa-cc-amex fa-2x"></i></a>
                            <a href="#" class="text-white me-2"><i class="fab fa-cc-visa fa-2x"></i></a>
                            <a href="#" class="text-white me-2"><i class="fas fa-credit-card fa-2x"></i></a>
                            <a href="#" class="text-white me-2"><i class="fab fa-cc-mastercard fa-2x"></i></a>
                            <a href="#" class="text-white me-2"><i class="fab fa-cc-paypal fa-2x"></i></a>
                            <a href="#" class="text-white"><i class="fab fa-cc-discover fa-2x"></i></a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    
    <!-- Copyright Start -->
    <div class="container-fluid copyright text-body py-4">
        <div class="container">
            <div class="row g-4 align-items-center">
                <div class="col-md-6 text-center text-md-end mb-md-0 text-white">
                    <i class="fas fa-copyright me-2 text-white"></i><a class="text-white" href="#">Athidhi Holidays</a>, All right reserved.
                </div>
                <div class="col-md-6 text-center text-md-start text-white">
                    <!--/*** This template is free as long as you keep the below author’s credit link/attribution link/backlink. ***/-->
                    <!--/*** If you'd like to use the template without the below author’s credit link/attribution link/backlink, ***/-->
                    <!--/*** you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". ***/-->
                    Designed By <a class="text-white" href="https://vynzora.com">VynZora</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->

    <!-- Back to Top -->
    <a href="#" class="btn  btn-primary-outline-0 btn-md-square back-to-top" style="background-color: #0a583d; color: #fff;"><i class="fa fa-arrow-up"></i></a>   


<!-- JavaScript Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'lib/easing/easing.min.js' %}"></script>
<script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
  {% if messages %}
      {% for message in messages %}
          toastr.success("{{ message }}");
      {% endfor %}
  {% endif %}
</script>
<script>
document.addEventListener('DOMContentLoaded', function () {
  toastr.options = {
      "closeButton": true,
      "debug": false,
      "newestOnTop": false,
      "progressBar": true,
      "positionClass": "toast-top-right",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "1000",
      "timeOut": "5000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
  };

});
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



<script>
$(window).on('load', function() {
  $(".page-loader").fadeOut("slow");
});
</script>

<style>
    /* Customize the toast background color and text color */
    #toast-container > .toast {
        background-color: #0a583d !important; /* Set the background color */
        color: white !important; /* Set the text color */
    }
    
    /* Customize the title color inside the toast */
    #toast-container > .toast .toast-title {
        color: white !important;
    }
    
    /* Customize the message color inside the toast */
    #toast-container > .toast .toast-message {
        color: white !important;
    }
    
    /* Customize the progress bar color */
    #toast-container > .toast.toast-success {
        border-color: #0a583d !important; /* Match the border to background */
    }
    
    #toast-container > .toast .toast-progress {
        background-color: white !important; /* Progress bar color */
    }
    </style>
    
<!-- Toast -->


<!-- Template Javascript -->
<script src="{% static 'js/main.js' %}"></script>
</body>

</html>